{% load static %}
{% block A %}
{% endblock A %}
<div class="nav">
  <a href="{% url '' %}">Home</a> ｜ <a href="{% url 'routesmap' %}">Routes map</a> ｜ <a href="{% url 'shipwreck' %}">Ship wreck</a> ｜ <a href="{% url 'circuits' %}">F1 2025 Circuits</a>｜<a href="{% url 'sias' %}">Si Map</a> ｜ <a href="{% url 'geolocation' %}">Geolocation</a> ｜ <a href="{% url 'adddata' %}">Add Data</a> ｜ <a href="{% url 'aslist' %}">Si List</a> ｜ <a href="{% url 'maplibre' %}">Maplibre</a>
</div>
<link rel="stylesheet" href="{% static 'css/layout.css' %}" />
{% block B %}
{% endblock B %}
{% comment %} <footer>
  <div>Counts: {{ visitCount }}</div>
</footer> {% endcomment %}
