{% load static %}
{% block A %}
{% endblock A %}
<div class="nav">
  <a href="{% url '' %}">首頁</a> ｜ <a href="{% url 'hubmap' %}">Hub map</a> ｜ <a href="{% url 'shipwreck' %}">Ship wreck</a> ｜ <a href="{% url 'circuits' %}">Circuits</a>｜<a href="{% url 'sias' %}">Si Map</a> ｜ <a href="{% url 'geolocation' %}">Geolocation</a> ｜ <a href="{% url 'adddata' %}">新增資料</a> ｜ <a href="{% url 'addsites' %}">Add Sites</a> ｜ <a href="{% url 'addsitesalert' %}">Add Sites Alert</a>
</div>
<link rel="stylesheet" href="{% static 'css/layout.css' %}" />
{% block B %}
{% endblock B %}
