asgiref==3.11.0
black==25.11.0
cffi==2.0.0
chardet==5.2.0
click==8.3.1
colorama==0.4.6
cryptography==46.0.3
cssbeautifier==1.15.4
dj-database-url==3.0.1
Django==5.2.9
django-geojson==4.2.0
django-heroku==0.3.1
django-leaflet==0.33.0
djlint==1.36.4
dotenv==0.9.9
EditorConfig==0.17.1
jsbeautifier==1.15.4
json5==0.12.1
mypy_extensions==1.1.0
numpy==2.3.5
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
psycopg2==2.9.11
pycparser==2.23
PyMySQL==1.1.2
python-dotenv==1.2.1
pytokens==0.3.0
PyYAML==6.0.3
regex==2025.11.3
shapely==2.1.2
six==1.17.0
sqlparse==0.5.4
tqdm==4.67.1
tzdata==2025.2
whitenoise==6.11.0
