body {
    background: url("/static/img/background.jpg")no-repeat;
    background-size: cover;
}

section {
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 90vh;
}
